<section class="app_changePassword__container">
  <h2>Change-password works!</h2>
  <form class="app_changePassword__content">
    <label for="oldPassword">
      <div>Old Password</div>
      <input type="password" id="oldPassword" name="oldPassword" />
    </label>
    <label for="newPassword">
      <div>New Password</div>
      <input type="password" id="newPassword" name="newPassword" />
    </label>
    <label for="repeatNewPassword">
      <div>Repeat New Password</div>
      <input type="password" id="repeatNewPassword" name="repeatNewPassword" />
    </label>
  </form>
</section>
