.app_changePassword {
  &__container {
    align-items: center;
    background-color: #ffffff;
    border-radius: 16px;
    box-sizing: border-box;
    color: #c1c1c1;
    display: flex;
    flex-direction: column;
    height: 50vh;
    justify-content: center;
    max-height: 500px;
    max-width: 500px;
    min-height: 350px;
    min-width: 350px;
    width: 40vw;
  }

  &__body {
    display: flex;
  }

  &__content {
    border: 1px dotted red;
    font-size: 18px;
    padding: 0.5vh 1vw;
    width: 80%;

    label {
      display: block;
      padding: 8px;
    }

    div {
      padding: 8px 0;
    }

    input {
      font-size: 18px;
      padding: 4px;
    }
  }
}
