.app_header {
  &__container {
    align-items: center;
    background-color: #1976d2;
    box-sizing: border-box;
    color: #ffffff;
    display: flex;
    font-weight: 600;
    height: 5vh;
    justify-content: space-between;
    padding: 4px 10px;

    img {
      margin: 0 16px;
    }
  }

  &__brandContainer {
    align-content: center;
    display: flex;
    justify-content: center;

    a {
      align-self: center;
      color: #ffffff;
      padding: 4px;
    }
  }
}
