<aside class="app_aside__container">
  <p>hola este es el aside con un</p>
  <nav>
    <ul>
      <li>
        <a [routerLink]="[ '/home' ]" routerLinkActive="router-link-active">Home</a>
      </li>
      <li>
        <a [routerLink]="[ '/about' ]" routerLinkActive="router-link-active">About</a>
      </li>
      <li>
        <a [routerLink]="[ '/not-found' ]" routerLinkActive="router-link-active">Not-found</a>
      </li>
      <li>
        <a [routerLink]="[ '/user' ]" routerLinkActive="router-link-active">User</a>
      </li>
      <li>
        <a [routerLink]="[ '/user/profile' ]" routerLinkActive="router-link-active">User-profile</a>
      </li>
      <li>
        <a [routerLink]="[ '/user/settings' ]" routerLinkActive="router-link-active">User-settings</a>
      </li>
      <a [routerLink]="[ '/login' ]" routerLinkActive="router-link-active">login</a>
    </ul>
  </nav>
</aside>
